## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City_ID.1,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,0,Fort Saint James,CA,29.1,overcast clouds,54.4333,-124.2500,The View Hotel
1,2,2,New Norfolk,AU,50.0,scattered clouds,-42.7826,147.0587,The Shingles Riverside Cottages
2,5,5,East London,ZA,69.8,clear sky,-33.0153,27.9116,Tu Casa
3,6,6,Mataura,NZ,63.0,overcast clouds,-46.1927,168.8643,Ellie's Villa
4,7,7,Punta Arenas,CL,60.8,overcast clouds,-53.1500,-70.9167,Hotel Dreams Del Estrecho

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] =="Atlantic City")]
vacation_end = vacation_df.loc[(vacation_df["City"] =="Atlantic City")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] =="Mayo")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Jamestown")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Bethel")] 

vacation_start

,City_ID,City_ID.1,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
79,183,183,Atlantic City,US,46.4,broken clouds,39.3643,-74.4229,Courtyard by Marriott Atlantic City Beach Block

In [43]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start.to_numpy()[0, [6,7]])
end = tuple(vacation_end.to_numpy()[0, [6,7]])
stop1 = tuple(vacation_stop1.to_numpy()[0, [6,7]])
stop2 = tuple(vacation_stop2.to_numpy()[0, [6,7]])
stop3 = tuple(vacation_stop3.to_numpy()[0, [6,7]])

print(start)

(39.3643, -74.4229)

In [44]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps
import gmaps.datasets
gmaps.configure(api_key= g_key)

fig = gmaps.figure()
vacation = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(vacation)
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City_ID.1,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,183,183,Atlantic City,US,46.40,broken clouds,39.3643,-74.4229,Courtyard by Marriott Atlantic City Beach Block
1,53,53,Mayo,US,42.01,clear sky,38.8876,-76.5119,Resorts Resource Group International
2,139,139,Jamestown,US,30.00,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,128,128,Bethel,US,39.99,mist,41.3712,-73.4140,Courtyard by Marriott Danbury

In [46]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [47]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = itinerary_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))